<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">
    <title>Posts Management</title>
</head>
<body>
    <h1>Posts</h1>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                <strong><%= post.title %></strong> by <%= post.author %>
                <p><%= post.description %></p>

                <!-- Edit button as a form submit -->
                <form method="get" action="/edit/<%= post.id %>">
                    <button type="submit">Edit</button>
                </form>

                <form method="post" action="/delete/<%= post.id %>">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }); %>
    </ul>
    <a href="/new">Create New Post</a>
</body>
</html>
